NODE_ENV=development
DATABASE=mongodb://localhost:27017/dang
MAIL_USER=USER
MAIL_PASS=PASS
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
PORT=7777
MAP_KEY=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0
SECRET=snickers
KEY=sweetsesh
